<section class="phx-hero">
  <h1>CSV Uploader</h1>
  <p>Import a CSV from the project structure 📂 and it will be added automatically</p>
  <p>to the table and also into the database.</p>
</section>

<section class="row">
    <%= live_component DataComponent, id: :data %>
    <%= live_component SelectorComponent, id: :selector %>
</section>
