<section class="phx-hero">
  <h1>CSV Uploader</h1>
  <p>Import a CSV from the project structure and it will be added automatically</p>
  <p>to the table and also into the database.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Data</h2>

  </article>
  <article class="column">
    <h2>Selector</h2>

  </article>
</section>
